@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------- Page Interna Serviços --------*/
html,body{
    height: 100%;
}
section#servicos{
    width: 100%;
    color: #f5f5f5;
    box-sizing: border-box;
}
section#servicos .content{
    color: #223d67;
    background: #fff;
}
section#servicos .box-title .title{
    font-weight: 300;
    line-height: 40px;
}
section#servicos .servico-um .title{
    color:  #223c67;
    font-size: 2.5em;
}
section#servicos .bords{
    margin-left: 20px;
    margin-top: 20px;
    width: 40%;
    height: 5px;
    background: #a47044;
}
section#servicos .box-text{
    width: 100%;
    box-shadow: 0px 0px 12px #00000030;
}
section#servicos .border-service{
    height: 5px;
    width: 100%;
    background: #fff;
}
section#servicos .bord-interna{
    background: #e8cb9c;
    opacity: .5;
    height: 3px;
    width: 90%;
}
section#servicos .servico-dois .title{
    color:  #223c67;
    font-size: 2.5em;
}
section#servicos #text-contente{
    background: #fff;
    padding: 50px;
    box-shadow: 0px 0px 15px #00000050;
    position: absolute;
    top: -200px;
    z-index: 90;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}
section#servicos #top{
    height: 400px;
    background-image: url("../img/bg_comofunciona.jpg") ; 
    position:relative   ;
}
section#servicos .title-section{
    color: #223d67;
    text-transform: uppercase;
    font-weight: 500;
}
section#servicos .bord-title{
    position: absolute;
    bottom: 12px;
    /* left: -315px; */
    left: 100px;    
    height: 4px;
    /* opacity: 0; */
    background: #e8cb9c;
    transition: all 1.3s cubic-bezier(0.37,-1.82, 0, 2.63);
    -webkit-transition: all 1.3s cubic-bezier(0.37,-1.82, 0, 2.63);
    -moz-transition: all 1.3s cubic-bezier(0.37,-1.82, 0, 2.63);
    -o-transition: all 1.3s cubic-bezier(0.37,-1.82, 0, 2.63);
}
section#servicos .bord-title.start{
    left: 100px;    
    opacity: 1;
}
section#servicos .text-infos{
    color: #223c67;
    font-weight: 300;
    font-size: 1.2em;
}
section#servicos span{
    color: #a47044;
    font-weight: 500;
    font-size: 1em;
}
section#servicos .text-content{
    font-weight: 300;
    color: #223d67;
}