body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 100%;
    font-weight: 300;
    background: #fff !important;
}

.font-cp{
    font-size: .9em;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

h1, .h1 {
    font-size: 4em;
}

h2, .h2 {
    font-size: 2em;
}
h3, .h3 {
    font-size: 2em;
}

h4, .h4 {
    font-size: 1.8em;
}

h5, .h5 {
    font-size: 1.6em;
}

h6, .h6 {
    font-size: 1.4em;
}

.h7 {
    font-size: 1.1em;
}

img.logo {
    max-width: 180px;
    height: 33px;
    opacity: 1;
}

/*** FONT STYLES ***/

.font-thin {
    font-weight: 200;
}

.font-normal {
    font-weight: 300;
}

.font-medium {
    font-weight: 400;
}

.font-bold {
    font-weight: 600;
}

.font-white {
    color: #FFFFFF;
}

.font-blue {
    color: #223d67;
}

.font-gold {
    color: #ffe0a9 !important;
}

.font-dark-gold {
    color: #a47044 !important;
}

/*** BACKGROUND COLORS ***/

.bg-white {
    background: #FFFFFF;
}

.bg-gold {
    background: #ffe0a9;
}

.bg-blue {
    background: #001843;
}

div.divider {
    border-bottom: 1px solid #a47044;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 130%;
    z-index: 9999;
    position: relative;
}

div.divider-slider {
    width: 150px;
    border-bottom: 2px solid #ffe0a9;
    margin-bottom: 30px;
    margin-top: 30px;
}

.divider-integer {
    border-bottom: 2px solid #bc9d64;
    margin-bottom: 50px;
}
.divider-right{
    border-bottom: 1px solid #bc9d64;
    margin-left: -100px;
}

.btn-style1 {
    background: #223d67;
    border: none;
    padding: 12px 40px;
    border-radius: 0px;
    color: #FFFFFF;
    border-bottom: none !important;
}

.btn-style1:hover {
    background: #223d67;
    border: none;
    padding: 12px 40px;
    border-radius: 0px;
    color: #a47044 !important;
    text-decoration: none;
}

/***  SLIDER  ***/

.nivo-caption {
    background: transparent;
    position: absolute;
    top: 40%;
    left: 10%;
}
.transition{
    transition: all .3s ease-in-out;
}

/***  CONTEUDOS  ***/
section#banner{
    height: 726px;
}
section#banner img{
    opacity: 1;
}
section#chave {
    background: url(../img/chave/background.jpg);
    height: 726px;
}
section#chave img{
    opacity: 1; 
}

section#chave .chave-bloco {
    padding: 0px 0px 0px 150px;
}

section#credito {
    background: url(../img/credito/left.jpg);
    background-color: #001843;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: left center;
}

section#credito .credito-block {
    background: rgba(0, 7, 34, 0.80);
    padding: 150px 160px;
    margin: 100px 0px;
}

section#credito .credito-block .credito-center {
    width: 80%;
}

section#faturamento {
    background: url(../img/faturamento/left.jpg);
    background-color: #001843;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: left center;
    height: 726px;
}
section#faturamento img{
    opacity: 1;
}
section#faturamento .faturamento-block {
    position: relative;
}

section#faturamento .faturamento-block .faturamento-center {
    position: absolute;
    z-index: 9;
    top: 30%;
    width: 70%;
}

section#negocio {
    background: url(../img/negocio/right.jpg);
    background-color: #001843;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right center;
}

section#negocio .negocio-colbg {
    background: url(../img/negocio/left.jpg);
}

section#negocio .negocio-block {
    width: 100%;
    padding: 300px 200px;
    background: rgba(0, 7, 34, 0.75);
}

section#solucao_financeira {
    background: url(../img/solucao_financeira/background.jpg) center center;
    padding: 150px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

section#solucao_financeira .bloco {
    color: #ffe0a9;
    text-align: center;
    background: rgba(6, 15, 45, 0.80);
    padding: 60px 0px;
    margin-top: 150px;
    margin-bottom: 150px;
    transition: all 300ms;
}

section#solucao_financeira .bloco:hover {
    margin-top: 110px;
}

section#solucao_financeira .bloco p {
    margin-top: 50px;
    font-size: 1.6em;
    font-weight: 200;
}

/***  Titulos  ***/

.title-bottom {
    bottom: 50px;
    position: absolute;
}

.detail-title {
    color: #a47044;
}

.detail-title:before {
    content: "";
    border: 4px solid #223d67;
    width: 100px;
    height: 3px;
    position: absolute;
    top: -10px;
}

.detail-title-invert {
    color: #223d67;
}

.detail-title-invert:before {
    content: "";
    border: 4px solid #a47044;
    width: 100px;
    height: 3px;
    position: absolute;
    top: -10px;
}

.detail-title2 {
    color: #223d67;
}

.detail-title2:before {
    content: "";
    border: 4px solid #223d67;
    width: 100px;
    height: 3px;
    position: absolute;
    top: -10px;
}

.detail-title3 {
    color: #223d67;
    position: relative;
}

.detail-title3:before {
    content: "";
    border: 3px solid #cba265;
    width: 100px;
    bottom: -10px;
    position: absolute;
    background: #c89d5d;
}

/***  PÃ¡ginas Internas  ***/

section#title.about {
    background: url('../img/bg_about.jpg');
    background-position: top center;
    height: 450px;
}

section#about-content {
    margin-top: -250px;
}

section#about-content .about-content-shadow {
    -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.10);
    padding: 100px 100px;
    background: #FFFFFF;
}

section#title.services {
    background: url('../img/bg_services.jpg');
    background-position: top center;
    min-height: 430px;
}

section#title .services>.row {
    min-height: 750px;
}

section#services-content {}

section#services-content .services-content-shadow {
    -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.10);
    background: #FFFFFF;
    margin-top: -150px;
}
#recebiveis{
    margin-top: -13rem!important;
}
.title-serv{
    top: -300px;
    left: 50%;
    margin-left: -110px;
}
section#services-content .boxblue {
    background: #223d67;
    color: #bc9d64;
    padding: 30px;
    line-height: 1.4em;
}

section#title.faq {
    background: url('../img/bg_faq.jpg');
    background-position: top center;
    min-height: 750px;
}

section#title.faq .row {
    min-height: 750px;
}

section#faq-content {}

section#title.contact {
    background: url('../img/bg_contact.jpg');
    background-position: top center;
    min-height: 750px;
}

section#title .contact>.row {
    min-height: 750px;
}

section#contact-content {}

section#contact-content .contact-content-shadow {
    -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.10);
    padding: 100px 100px;
    background: #FFFFFF;
    margin-top: -250px;
}

form#contact .form-control {
    padding: 20px 15px;
    border: 1px solid #223d67;
    border-radius: 0;
    font-size: 1.1em;
    font-weight: 200;
}

form#contact input.btn.btn-md.btn-info {
    background: #223d67;
    border: none;
    padding: 12px 40px;
    border-radius: 0px;
    color: #ffe0a9;
    font-size: 1.4em;
}

/***  NAVBAR  ***/

nav.navbar.navbar-expand-lg.navbar-light.fixed-top {
    padding: 10px 0px;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    z-index: 999;
}

ul.navbar-nav .nav-item .nav-link {
    font-weight: 300;
    color: #FFF !important;
    border-left: 1px solid #FFF;
    padding: 0px 20px;
}

ul.navbar-nav .nav-item:first-child .nav-link {
    border-left: none;
}

ul.navbar-nav .nav-item .nav-link:hover, ul.navbar-nav .nav-item.active .nav-link {
    /* color: #223d67 !important; */
    text-decoration: underline;
    background: #e8cb9c;
}

.dropdown-menu.show {
    background: rgb(34, 61, 103);
    top: 50px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    color: #FFFFFF;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-weight: 300
}

.accordion .card-header {
    background: #223d67;
    padding: 15px 50px;
    cursor: pointer;
}

.accordion .card-header:after {
    color: #bc9d64;
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}

.accordion .card-header.collapsed:after {
    color: #bc9d64;
    content: "\f067";
}

.accordion .card-body {
    font-size: 1.3em;
    -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    margin-bottom: 5px;
}

/***** FOOTER *******/

footer {
    background: #223d67;
    padding: 60px 0px 25px 0px;
}
footer .kkkk{
    font-size: 1em!important;
    font-weight: 500!important;
}
ul.info-bottom {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.info-bottom li {
    display: flex;
    vertical-align: middle;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 0px;
}

ul.info-bottom li img {
    width: 35px;
    margin-right: 10px;
    margin-top: -5px;
}

ul.info-bottom li .h6 {
    font-weight: 200;
}

.copyright {
    background: #c89d5d;
    color: #FFFFFF;
    padding: 10px 0px;
    font-size: 1.2em;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200, 157, 93, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(200, 157, 93);
    margin-right: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #223d67;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0px;
}

.dropdown>.dropdown-menu {
    top: 200%;
    transition: 0.3s all ease-in-out;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #e8cb9c;
}


/*---------- Slide --------*/
.empre{
    width: 231px;
}
.empre img{
    opacity: 1;
    margin-left: 20%;
}
.gold{
    color: #223d67;
    position: relative;
    transition: all 300ms;
}
#htmlcaption,
#htmlcaption1,
#htmlcaption2{
    left: 14%;
    top: 250px; 
}

.color-blue{
    background: #223d67;
}