.box{
    background: #f1f1f1;
    max-width: 350px;
    min-height: 300px;
    box-shadow: 0px 0px 10px #21212154;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    transform: scale(1);
}
.box:hover{
    background: #223d67;
    transform: scale(1.04);
}
.box:hover .gold{
    color: #fff;
}
.bord{
    height: 4px;
    width: 175px;
    background: #a47044;
    position: absolute;
    top: 125px;
    transition: all 300ms;
    -webkit-transition: all 300ms;

}
.box:hover .bord{
    width: 215px;
    background: #e8cb9c;                
}
.img{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
    width: 130px;
    height: 130px;
    overflow: hidden;   
}
img{
    transition: all 300ms;
    -webkit-transition: all 300ms;
    opacity: .6;
    width: 90px;
    height: 90px;
}
.box:hover img{
    margin-left: 100%;
    opacity: 0;
}
.box .h4{
    position: absolute;
    left: 50%;
    margin-left: -165px;
    bottom: 45px;
    padding: 9px;
    width: 108px;
    border: 2px solid #fff;
    border-radius: 5px; 
    font-size: 1em;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    color: #fff;
    opacity: 0;
}
.box a:hover .h4{
    color: #223d67;
    background: #fff;
}
.box:hover .h4{
    margin-left: -63px;
    opacity: 1;

}